* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background-image:linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)), url(./../img/banner2.jpg);
    min-height: 350px;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
    font-family: 'Quicksand', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
}

header form .form-control{
    position: relative;
    padding: 5px 50px 5px 20px;
}

/* thay doi vi tri kinh lup */
header form i:nth-child(2) {
    position: absolute;
    right: 113px;
    top: 25px;
}

header form i:last-child {
    position: absolute;
    top: 14px;
    right: -17px;
}

/* Tương lai tươi sáng */
#myBody {
    background-color: white;
}

#switchButton #sun {
    display: none;
}
#switchButton #moon {
    display: block;
}

/* Tương lai u tối */
.dark#myBody {
    background-color: #404040;
}

.dark #switchButton #sun {
    display: block;
    color: white;
    position: static;
}
  
.dark #switchButton #moon {
    display: none;
}

.dark .navbar input {
    border: 1px solid white;
}

.dark .navbar input:focus {
    border: 1px solid #FF6600;
    background-color: #404040;
}

.dark input {
    background-color: #404040;
}

.dark input:focus {
    border: 1px solid #FF6600;
    background-color: #404040;
}

.dark #backtohome {
    color: white;
}

.dark .icons .bg{
    background-color: #404040;
}

.dark .subcribe input {
    border: 1px solid white;
}

.dark .subcribe #Email:focus {
    border: 1px solid #FF6600;
    background-color: #404040;
}

.dark main {
    background-color: #404040;
    color: white !important;
}

header nav a {
    text-decoration: none;
    /* color: black; */
    font-weight: 700 !important;
}

header .direction {
    padding: 80px 0 0 0;
    position: relative;
    width: 100%;
}

header ol li a {
    color: orange;
}
/* END HEADER */

/* CONTACT US  */
.contact .container .header-title .title-sub {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.contact .container .header-title .title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}
.contact .container .header-title p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

.contact .twice-two {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.contact .map-content form input {
    background: #f7f7f7;
    border: 1px solid transparent;
    color: rgba(22, 28, 45, 0.7);
    font-size: 18px;
    padding: 12px 20px;
    line-height: 28px;
    width: 100%;
    border-radius: 6px;
    height: 58px;
}

.contact .map-content form textarea {
    resize: none;
    min-height: 200px;

    background: #f7f7f7;
    border: 1px solid transparent;
    color: rgba(22, 28, 45, 0.7);
    font-size: 18px;
    padding: 12px 20px;
    line-height: 28px;
    width: 100%;
    border-radius: 6px;
    height: 58px;
}

.contact .text-right {
    text-align: right !important; 
}

.contact .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
    user-select: none;
}

.contact .btn-primary {
    color: #fff;
    background-color: #ff6600;
}

.contact .btn-primary:hover {
    color: #fff;
    background-color: #FF6600;
    border: 2px solid #FF6600;
    opacity: 0.8;
}

.contact .btn-style {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid transparent;
}

/* FIND US  */
.find-us {
    
}

.contact-view {
    grid-template-columns: 1fr 2.5fr;
    grid-gap: 20px;
    width: 90%;
    padding-left: 200px;
    
}

.contact-view .title-sub {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.contact-view .title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.contact-view .cont-top {
    display: grid;
    grid-template-columns: 20px auto;
    grid-column-gap: 20px;
}

.contact-view .cont-left span i {
    font-size: 20px;
    margin-top: 5px;
    color: #FF6600  ;
}

.contact-view .cont-details h5 {
    font-size: 20px;
    color: #232121;
    font-weight: 600;
}

.contact-view .cont-details p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

.contact-view .cont-details p a {
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
    text-decoration: none;  
}

.contact-view .map-content map-iframe iframe {
    filter: grayscale(0%);
    border-radius: 6px;
    background: #f7f7f7;
    padding: 10px;
}

/* END FIND US  */





/* FOOTER */
footer {
    background-color: black;
    padding: 60px 0 30px 0;
    font-family: 'Quicksand', sans-serif;
}

/* DINER */
footer .diner .text a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    font-size: 20px;
}

footer .diner .text a:hover {
    color: #FF6600;
}

footer .icons .bg {
    width: 36px;
    height: 36px;
    position: relative;
    transition: all 0.5s;
    background-color: white;
}

footer .icons .bg i {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 17px;
    color: #FF6600;
    line-height: 15px;
}

footer .icons .bg:hover {
    background-color: #FF6600;
}

footer .icons .bg:hover i {
    color: white;
}
/* END DINER */

/* CATEGORIES */
footer .categories {
    color: white;
}

footer .categories p {
    transition: all 0.5s;
    cursor: pointer;
}

footer .categories p:hover {
    color: #FF6600;
}
/* END CATEGORIES */

/* ARCHIVES */
footer .archive {
    color: white;
}

footer .archive p {
    transition: all 0.5s;
    cursor: pointer;
}

footer .archive p:hover {
    color: #FF6600;
}
/* END ARCHIVES */

/* SUBCRIBE */
footer .subcribe {
    color: white;
}

Footer .subcribe .mb-3 input {
    height: 50px;
    width: 100%;
}

footer .subcribe .button button {
    height: 50px;
    width: 100%;
    background-color: #FF6600;
    border: 1px solid transparent;
    opacity: 1;
    transition: all 0.5s;
    /* padding: 10px 133px; */
}

footer .subcribe .btn:hover{
    background-color: #FF6600;
    opacity: 0.8;
    color: white;
}
/* END SUBCRIBE */

/* BACK TO TOP */
.backtotop {
    width: 50px;
    height: 50px;
    background-color: #FF6600;
    position: sticky;
    right: 23px;
    bottom: 50px;
    transition: all 0.5s;
    /* opacity: 1; */
    /* pointer-events: none; */
}

/* .backtotop.active {
    bottom: 32px;
    opacity: 1;
    pointer-events: auto;
} */

.backtotop a {
    color: white;
}
/* END BACK TO TOP */

/* COPYRIGHT */
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.103);
    padding: 10px 0;
}

.copyright .text {
    gap: 5px;
}

.copyright .text a {
    color: #FF6600;
    text-decoration: none;
}

.copyright .text a:hover {
    color: white;
}
/* END COPYRIGHT */

/* END FOOTER */